.leaderboard__list {
    display: flex;
    flex-direction: row;
    background-color: $lila;
    padding: 20px;
    align-items: center;
    justify-content: space-between; 
}

.leaderboard__grid__rank {
    background-color: $yellow;
    padding: 10px 25px;
    margin: 15px 0px 15px 0px;
}

.leaderboard__grid__name {
    background-color: $yellow;
    padding: 10px 85px;
    margin: 15px 0px 15px 0px;
}

.leaderboard__grid__score {
    background-color: $blue;
    color: white;
    padding: 10px 45px;
    margin: 15px 0px 15px 0px;
}

.leaderboard {
    margin: 25px;
}

.leaderboard__grid {
    margin: 150px;
  }

@media (min-width: 1080px){

.leaderboard__grid{
    width: 500px;
    margin: auto;
}

}


