*{
    box-sizing: border-box;
}

.received-coinz{
    background-color: $yellow;
    width: 430px;
    height: 450px;
    margin-top: 50px;
    margin-left: 28px;
 
}

.transfer{
    display: grid;
    grid-template-columns: 100px 150px 100px;
    grid-template-rows: 200px 100px 3px 100px;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
  
}

.transfer__image{
    clip-path: circle(50px at center);
    place-self: center;
    grid-column: 0/3;
}

.transfer__arrow{
    place-self: center;
}

.transfer__sender{
grid-column: 1/4;
margin-top: -60px;
}

.transfer__coinz{
    background-color: white;
    grid-column: 1/4;
    margin-top: -60px;
}

.transfer__reason{
    grid-column: 1/2;
    place-self: center;
    justify-self: end;


}

.transfer__reason-icon{
    grid-column: 2/3;
    place-self: center;
    justify-self: center;

}

.transfer__reason-title{
    grid-column: 3/4;
    place-self: center;
    justify-self: start;
    margin-left: -50px;

}


@media (min-width: 1080px){

    .received-coinz{
        margin: auto;
        margin-top: 60px;
    }

}









