.signup {
    text-align: center;
    margin: 50px ;
}

.signup__form {
    background-color: $yellow;
    margin: 150px;
    padding: 15px;
}


@media (min-width: 1080px){

.signup__form{
    margin: 70px auto auto auto;
    width: 500px;
}
}

