@import "../variables/colors";
@import "../variables/fonts";


*{
    box-sizing: border-box;
}

.btn {
    background-color: $green;
    font-family: $h2font;
    font-weight: 600;
    color: $blue;
    padding: 10px;
    text-decoration: none;
}

.btn--secondary {
    background-color: $blue;
    color: $yellow;
}

.btn--leaderboard{
    margin: 80px 0px 80px 0px;
    width: 200px;
    display: grid;
    margin:auto;
}

