//@use '../components/colors';
//@use './colors';
@import "../components/colors";
@import "../components/headings";

*{
    box-sizing: border-box;
}

.btn {
    background-color: $green;
    font-family: $h2font;
    font-weight: 600;
    color: $blue;
    padding: 10px;
    text-decoration: none;
}

.btn-second {
    background-color: $blue;
    font-family: $h2font;
    font-weight: 600;
    color: $yellow;
    padding: 10px; 
    text-decoration: none;
    font-size: 25px;
}

a {
    font-family: $h2font;
    font-weight: 600;
    color: $blue;
}