
//@use "./colors";
@import "../components/colors";

$h1font: "rubik";
$h2font: "roboto mono";
$pfont: "roboto";

h1 {
    font-family: $h1font;
    font-weight: 800;
    color: blue;
    text-align: center;
}

h2 {
    font-family: $h2font;
    color: $blue;
    text-align: center;
}

body {
    background-color: $lila;
    font-family: $pfont;
    color: $blue;
    text-align: center;

}

p {
    color: black;
    text-align: center;

}
