.signup {
    text-align: center;
    margin: 50px ;
}

.signup__form {
    background-color: $yellow;
    margin: 20px;
    padding: 15px;
}

@media (min-width: 1080px){

.login__form{
    margin: 60px auto auto auto;
    width: 500px;
}
}

