.leaderboard-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: $lila;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.leaderboard__name {
    background-color: $yellow;
    padding: 10px;
    margin: 15px 0px 15px 0px;
}

.leaderboard__score {
    background-color: $blue;
    color: white;
    padding: 10px;
    margin: 15px 0px 15px 0px;
}

.leaderboard {
    margin: 25px;
}
