.welcome {
    text-align: center;
    margin: 50px;
}

.join {
    background-color: $yellow;
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    padding: 10px; 
    margin: 10px 0px 10px 0px;
}

input[type=submit] {
    align-self: center;
    width: auto;
    margin: 10px 0px;
}